__pycache__/
*.py[cod]
hypervisor/build/
hypervisor/ada/alire/
hypervisor/ada/config/
hypervisor/ada/b__*
hypervisor/ada/*.ali
hypervisor/ada/*.o
hypervisor/ada/*.bexch
hypervisor/ada/*.cswi
hypervisor/ada/*.stderr
hypervisor/ada/*.stdout
hypervisor/ada/fbvbs_hypervisor_main
