set timeout=0
set default=0

serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
terminal_input console serial
terminal_output console serial

menuentry "FBVBS Microhypervisor" {
    multiboot2 /boot/fbvbs-baremetal.elf
    module2 /boot/fbvbs-artifact-1000.bin artifact:0x1000
    module2 /boot/fbvbs-artifact-1100.bin artifact:0x1100
    module2 /boot/fbvbs-artifact-1200.bin artifact:0x1200
    module2 /boot/fbvbs-artifact-1300.bin artifact:0x1300
    module2 /boot/fbvbs-artifact-1400.bin artifact:0x1400
    module2 /boot/fbvbs-artifact-1500.bin artifact:0x1500
    module2 /boot/fbvbs-artifact-1600.bin artifact:0x1600
    module2 /boot/fbvbs-artifact-3000.bin artifact:0x3000
    module2 /boot/fbvbs-artifact-3700.bin artifact:0x3700
    boot
}
